<div class="reservation">
  <h1><%= Restaurant.find(reservation.restaurant_id).name %></h1>
  <p>Date: <%= reservation.date %></p>
  <p>Time: <%= reservation.time %></p>
  <p>Seats: <%= reservation.seats %></p>
  <p>Request: <%= reservation.request %></p>
  <%= link_to "Edit", edit_restaurant_reservation_path(reservation.id) %> |
  <%#= link_to "Delete", restaurant_reservation_path[@restaurant, reservation], method: :delete, data: {confirm: "Are you sure you want to Delete this reservation?"} %>
</div>
