<div class="reservation">
  <h1><%= link_to restaurant.name, restaurant %></h1>
  <p>Date: <%= reservation.date %></p>
  <p>Time: <%= reservation.time %></p>
  <p>Description: <%= reservation.seats %></p>
  <p>Description: <%= reservation.request %></p>
  <p>Description: <%= restaurant.description %></p>
</div>
