
<!-- <h1 class="profile-welcome">Welcome home,
    <%#= current_user.name %>
    <%= current_user.reservations.count %>
    <%=  "reservation".pluralize(current_user.reservations.count)%>
    loading.
</h1> -->
<div id="userinfo">
  <span class="title">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <%= link_to "| Delete", user_path, method: :delete, data: {confirm: "Are you sure you want to Delete this user?"} %>
    <%= link_to "Edit |", edit_user_path(current_user.id) %>
  </span>
  <ul>
    <li>Email: <%= @user.email %></li>
    <li>Username: <%= @user.username %></li>
    <li>Phone: <%= @user.phone %></li>
    <li>    </li>
  </ul>
</div>
</br>

<hr>
<span class="title">
  <h1>Your Restaurants</h1><%= link_to "New Restaurant", new_restaurant_path%>
</span>

<%= render :partial => "owned", :collection => @restaurants, :as => :restaurant %>


<h1>Your Reservations</h1>
<%= render :partial => "reservations", :collection => @reservations, :as => :reservation %>
