<h1>Edit Reservation</h1>

<p>
  <%= link_to "Back", @reservation %>
</p>

<%= form_for @reservation do |f| %>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :time %><br>
    <%= f.time_field :time %>
  </p>
  <p>
    <%= f.label :seats %><br>
    <%= f.number_field :seats %>
  </p>
  <p>
    <%= f.label :request %><br>
    <%= f.text_field :request %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
