<h1>New Reservation</h1>

<%#= link_to "Back to Reservations", restaurants_reservations_url %>

<%= form_for [@restaurant, @reservation] do |f| %>
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </p>
  <p>
    <%= f.label :seats %><br>
    <%= f.text_field :seats %>
  </p>
  <p>
    <%= f.label :request %><br>
    <%= f.text_field :request %>
  </p>
  <p>
    <%= f.submit "Confirm" %>
  </p>
<% end %>
