<%= link_to "Back to Home", restaurants_url %> | <%= link_to "Edit", edit_reservation_path(@reservation) %> | <%= link_to delete_reservation_path(@reservation), method: :delete, data: {confirm: "Are you sure you want to cancel this reservation?"} %>

<% @reservations.each do |reservation| %>
  <p><%= reservation.date %>, <%= reservation.time %>, <%= reservation.seats %>, <%= reservation.request %>, <%= reservation.restaurant_id %></p>
<% end %>
