<%= link_to "Back to Home", restaurants_url %> | <%= link_to "Edit", edit_reservation_path(@reservation) %>

<% @reservations.each do |reservation| %>
  <p><%= reservation.date %>, <%= reservation.time %>, <%= reservation.seats %>, <%= reservation.request %>, <%= reservation.restaurant_id %></p>
<% end %>
