<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'normalize', media: 'all' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <% if current_user %>
        <li><%= link_to "Profile", user_path(current_user.id) %></li>
      <% end %>
      <% if current_user %>
        <li><p>Signed in as <%= current_user.username %>.</p></li>
        <li><%= link_to "Log out", session_path("current"), :method => :delete %></li>
      <% else %>
        <li><%= link_to "Log in", new_session_path %></li> <li><%= link_to "Sign up", new_user_path %></li>
      <% end %>
    </ul>
  </nav>
  <header>
    <h1>Seat Yourself</h1>
  </header>

  <main id=wrapper>
  <%= yield %>
  </main>

</body>
</html>
